body {
    margin: 0;
    padding: 12rem;
    background-color:cornsilk;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Lato-Bold';
    src: url('../fonts/Lato/Lato-Bold.ttf') format('truetype');
    font-style: bold;
    font-weight: 400;
}

.imagen {
    
    /*display: flex;*/
    background-repeat: no-repeat;
    background-position: right center;
    width: 17rem;
}

h1 {
    font-family: 'Lato-Bold';
    font-size: 70px;
}

h2 {
    font-family: 'Lato-Bold';
    font-size: 40px;
    padding-top: 1em;
}

h3 {
    font-family: 'Lato-Bold';
    font-size: 33px;
    padding-top: 2em;
}

p,ol,ul {
    font-family: "Lato", serif;
    font-size: 25px;
    padding-left: 4em;
    border-spacing: 4px;
}

li {
    font-family: "Lato", serif;
    font-size: 25px;
    padding-bottom: 1em;
}

.inicio {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 50px;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
    padding: 5px;
    font-family: "Lato", serif;
    font-size: 25px;
    margin-left: 4em;
}

